
/*button {
  font-family: sans-serif;
  color: black;
  background-color: #ffffff;
  text-align: center;
  padding: 0 5%;
}

button {
  display: inline-block;
  font-size: 2rem;
  background-color: black;
  border-radius: 8px;
  border: none;
}*/

video {
  max-width: 50vw;
}

model-viewer {
  background-color: #eee;
  overflow-x: hidden;
  margin: auto;
  width: 60%;
  height: 40vh;
  --progress-bar-color: black;
}

model-viewer::part(default-progress-bar){
  margin: auto;
  height: 50%;
}



  #ar-button {
    background-image: url(arlogo.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 12px 50%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 5px;
    padding: 0px 16px 0px 40px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 14px;
    color:#4285f4;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    border: 1px solid #DADCE0;
  }

  #ar-button:active {
    background-color: #E8EAED;
  }

  #ar-button:focus {
    outline: none;
  }

  #ar-button:focus-visible {
    outline: 1px solid #4285f4;
  }

  @keyframes circle {
    from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
  }

  @keyframes elongate {
    from { transform: translateX(100px); }
    to   { transform: translateX(-100px); }
  }

  model-viewer > #ar-failure {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 175px;
    display: none;
  }

  model-viewer[ar-tracking="not-tracking"] > #ar-failure {
    display: block;
  }

  #control {
    bottom: 16px;
    left: 16px;
    max-width: unset;
    transform: unset;
    pointer-events: auto;
  }    

  /*
  #controls2 {
    bottom: 16px;
    left: 16px;
    max-width: unset;
    transform: unset;
    pointer-events: auto;
    
  }   

  #controls3 {
    bottom: 16px;
    left: 16px;
    max-width: unset;
    transform: unset;
    pointer-events: auto;
    
  } 
  */

  .dim{
    background: #fff;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: Futura, Helvetica Neue, sans-serif;
    font-size: 1em;
    font-weight: 700;
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    width: max-content;
    height: max-content;
    pointer-events: none;
    --min-hotspot-opacity: 0;
  }




